<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            Home
        </ng-template>
        <div class="center">
            <app-home></app-home>
        </div>
    </mat-tab>
    <mat-tab label="All bank accounts">
        <app-all-bank-accounts></app-all-bank-accounts>
    </mat-tab>
    <mat-tab label="Foreign Currency Exchange">
        <app-currency-exchange></app-currency-exchange>
    </mat-tab>
</mat-tab-group>

